[Unit]
Description=Prometheus Node Exporter Service
After=network.target

[Service]
EnvironmentFile=/etc/prometheus/prometheus.env
ExecStart=/usr/bin/prometheus -config.file=${CONF_FILE} -web.console.libraries=${SHARE}/console_libraries -web.console.templates=${SHARE}/consoles -storage.local.path=${STORAGE} ${OTHER_OPTS}
User=prometheus

[Install]
WantedBy=multi-user.target
